<?xml version="1.0"?>
<launch>
	<arg name="car_id"/>
	<arg name="heart_rate" default="25"/>

	<include file="$(find asinus_car)/launch/perception/obstacle_localization.launch">
		<arg name="car_id" value="$(arg car_id)"/>
	</include>

	<include file="$(find asinus_car)/launch/core.launch">
		<arg name="car_id" value="$(arg car_id)"/>
		<arg name="rate" value="$(arg heart_rate)"/>
	</include>
</launch>
